body{background-color: #1E90FF;}

div.layout{border-radius: 15px;
           background-color: #fff;
           width: 800px;
           height: 500px;
           margin: auto;
           padding: 10px;}

input.caixa{height:20px;
            font-family: 'Courier New', Courier, monospace;
           }

input.botao{background-color: #1E90FF;
            border: 0;
            height: 25px;
            width: 70px;
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
            }

input.botao:hover{background-color: #4682B4;
                  border: 0;
                  height: 25px;
                  width: 70px;
                  color: #fff;
                  font-family: 'Courier New', Courier, monospace;
                  }
h1{color: #1E90FF;
   font-family: 'Courier New', Courier, monospace;}